body {
    background-image: url("https://images.all-free-download.com/images/graphiclarge/abstract_background_vector_graphic_148408.jpg"),
    url("https://images.all-free-download.com/images/graphiclarge/abstract_pink_wave_vector_background_148643.jpg");
    background-repeat: no-repeat, repeat-x;
    background-position: top, bottom;
    background-size: 50%, 50%;

}
header h1{
    border: 2px solid transparent;
}
header h1:hover {
    border: 2px solid fuchsia;
}
td:first-child:hover{
    background-color: yellow;
}
td::hover{
    background-color: yellow;
}
td:last-child:hover{
     background-color: yellow;
    border-radius: 50%;
 }

